/* yhteystietojen tyylit */
header {

    text-align: center;

    padding: 20px;

    padding-top: 10px;

  }

 .header-text {
            position: absolute;
            top: 50%; /* Aseta 50% kuvan yläreunasta */
            left: 100px; /* Aseta vasemmalta 10 pikseliä */
            font-size: 48px; /* Aseta fonttikoko pikseleinä */
            transform: translateY(-50%); /* Keskennä teksti suhteessa omaan korkeuteensa */
            color: white;
        }
#header-image {
    width:100%;
    height:80vh; /*korkeus x% näytön korkeudesta*/;
    object-fit:cover;

}


  main {

    display: flex;

    justify-content: space-between;

    margin: 20px;

  }


  
#contact-info {
  /* yhteysitietojen ja yhteydenottolomaketiedot*/
    width: 40%;
  
    background-color: #DE8419;
  
    padding: 20px;
  
    border-radius: 8px; /*pyöristetyt reunat*/
  
  }
   
  
  #contact-form {
  
    width: 50%;
  
    background-color: #DE8419;
  
    padding: 20px;
  
    border-radius: 8px;
  
  }
  
  form {
  
    display: flex;
  
    flex-direction: column;
  
  }
   
  label {
  
    margin-bottom: 8px;
  
  }
  
   
  
  input[type="text"],
  
  input[type="email"],
  
  textarea {
  
    margin-bottom: 16px;
  
    padding: 8px;
  
    border: 1px solid white;
  
    border-radius: 4px;
  
    background-color: white;
  
    color: #DE8419;
  
  }
  
   
  
  input[type="submit"] {
  
    background-color: white;
  
    color: black;
  
    cursor: pointer;
  
  }
  * Lisäämme uuden tyylin navigointipainikkeille */

.buttons {

  display: flex;

  justify-content: flex-start;


}

